<div id="footer" layout="rows center-left">
    <div id="end-mark">
        <div class="end-mark-icon"></div>
        <p class="copyright">Seeyong's Blog © 2018&nbsp;&nbsp;·&nbsp;&nbsp;CFA | DS | ML</p>
    </div>
    <div id="footer-links" self="right">
        <ul>
            <!-- <a href="#"><li class="wechat" target="_blank"></li></a> -->
            <a href="mailto:seeyong987@gmail.com" target="_blank"><li class="mail"></li></a>
            <a href="https://www.instagram.com/be_seeyong/" target="_blank"><li class="instagram"></li></a>
            <a href="https://github.com/Seeyong" target="_blank"><li class="github"></li></a>
        </ul>
    </div>
</div>
